@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&family=Montserrat&display=swap');

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #464343;
}

    nav h1 {
        color: #020202;
        font-family: 'Neonderthaw', sans-serif;
        font-size: 40px;
    }
    nav a{
        text-decoration:none;
    }

    nav .onglets {
        margin-top: 5px;
        margin-left: 85px;
    }

        nav .onglets a {
            text-decoration: none;
            color: #424242;
            margin-right: 30px;
            border-bottom: 1px solid #424242;
            padding-bottom: 3px;
        }

            nav .onglets a:hover {
                color: red;
                transition: 0.5s all;
            }

h4 {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    font-family: 'Monserrat'
}

form h1{
    text-align:center;
}
form label {
    display: block;
    float: left;
    margin-left:25%;
}
form {
    background-color: lightgrey;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 9%;
    width: 50%;
}
form a{
    margin-left : 41%;
}

input{
    height : auto;
    width : 20%;
}
.centrer{
    text-align:center;
    padding-bottom:20px;
}


span{
    margin-left: 25%
}


footer {
    justify-content: center;
    align-items: center;
    border-top: 3px solid #464343;
    height: 15%;
    background: #d1d1d1;
}

.services {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
}

    .services .logo {
        display: flex;
        align-items: center;
    }


        .services .logo h1 {
            color: #020202;
            font-family: 'Neonderthaw', sans-serif;
            font-size: 40px;
            margin-right: 200px;
        }

    .services .info a {
        text-decoration: none;
        color: #464343;
        margin-left: 75px;
        margin-top: 0px;
        border-bottom: 1px solid #424242;
    }

    .services .info ul {
        text-decoration: none;
        color: #464343;
        margin-top: 23px;
        margin-left: 30px;
        list-style-type: none;
    }

    .services .info {
        display: flex;
        align-items: center;
    }

        .services .info p {
            text-decoration: none;
            color: #464343;
            margin-left: 75px;
            margin-top: 15px;
        }

        .services .info a:hover {
            color: red;
            transition: 0.5s all;
        }

.copyright {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    background: #eeeeee;
    border-top: 3px solid #464343;
}

    .copyright p {
        padding-right: 1%;
        font-size: 85%;
        margin-left:0;
    }

    label {
        display: block;
        float: left;
        width: 150px;
        margin-left: 600px;
    }

    .centrer {
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    p {
        margin-left: 600px
    }

