@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Neonderthaw&display=swap');

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #464343;
}

    nav h1 {
        color: #020202;
        font-family: 'Neonderthaw', sans-serif;
        font-size: 40px;
    }
    nav a{
        text-decoration:none;
    }

    nav .onglets {
        margin-top: 5px;
        margin-left: 85px;
    }

        nav .onglets a {
            text-decoration: none;
            color: #424242;
            margin-right: 30px;
            border-bottom: 1px solid #424242;
            padding-bottom: 3px;
        }

            nav .onglets a:hover {
                color: red;
                transition: 0.5s all;
            }
            
label{
    display : block;
    float : left;
    width : 150px;
    margin-left:600px;
}
.centrer{
    text-align:center;
}
h1{
    text-align : center;
}
p{
    margin-left:184px
}

footer {
    justify-content: center;
    align-items: center;
    border-top: 3px solid #464343;
    height: 15%;
    background: #d1d1d1;
}

.services {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
}

    .services .logo {
        display: flex;
        align-items: center;
    }


        .services .logo h1 {
            color: #020202;
            font-family: 'Neonderthaw', sans-serif;
            font-size: 40px;
            margin-right: 200px;
        }

    .services .info a {
        text-decoration: none;
        color: #464343;
        margin-left: 75px;
        margin-top: 0px;
        border-bottom: 1px solid #424242;
    }

    .services .info ul {
        text-decoration: none;
        color: #464343;
        margin-top: 23px;
        margin-left: 30px;
        list-style-type: none;
    }

    .services .info {
        display: flex;
        align-items: center;
    }

        .services .info p {
            text-decoration: none;
            color: #464343;
            margin-left: 75px;
            margin-top: 15px;
        }

        .services .info a:hover {
            color: red;
            transition: 0.5s all;
        }

.copyright {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    background: #eeeeee;
    border-top: 3px solid #464343;
}

    .copyright p {
        padding-right: 1%;
        font-size: 85%;
        margin-left:0;
    }


@media screen and (max-width: 800px) {
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }
}

form h1 {
    text-align: center;
}

form label {
    display: block;
    float: left;
    margin-left: 25%;
}

form {
    background-color: lightgrey;
    border-style: solid;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
}

    form a {
        margin-left: 41%;
    }

input {
    height: auto;
    width: 20%;
}

.centrer {
    text-align: center;
    padding-bottom: 20px;
}

span{
    margin-left: 25%;
}