@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Neonderthaw&display=swap');

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #464343;
}

nav h1{
    color: #020202;
    font-family: 'Neonderthaw', sans-serif;
    font-size: 40px;
}

nav a{
    text-decoration:none;
}
nav .onglets{
    margin-top: 5px;
    margin-left: 85px;
}

nav .onglets a{
    text-decoration: none;
    color: #424242;
    margin-right: 30px;
    border-bottom: 1px solid #424242;
    padding-bottom: 3px;
}
    

nav .onglets a:hover {
    color: red;
    transition: 0.5s all;
}

img {
    transition: 0.3s;
}

    img:hover {
        transform: scale(1.25);
    }


.main{
    display: flex;
    flex-direction: wrap;
    font-family: 'Monserrat', sans-serif;
    align-items: flex-start;
}

.main .menu{
    flex: 0 0 20%;
    border-style: groove;
    border-color:#424242;
    margin: 2%;
    background-color: #bbbbbb;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1.5%;
    position:sticky;
    top:3%;
    margin-right: 0.5%;
}

.main .menu ul{
    line-height: 150%;
}

.main .menu li a{
    text-decoration: none;
    font-size: larger;
    color:#020202;
    border-bottom: 1px solid #464343;
}

.main .menu li a:hover{
    color: rgb(87, 87, 87);
    transition: 0.5s all;
}

.main .menu h1{
    text-decoration: none;
    color:#020202;
    font-size: larger;
}

.main .menu h1 a{
    text-decoration: none;
    color:#020202;
}

.main .menu h1 a:hover{
    color: rgb(87, 87, 87);
    transition: 0.5s all;
}

.main .blanc{
    flex: 0 0 70%;
    margin: 2%;
    margin-left: 2%;
}

.main .blanc .choix{
    font-size: x-large;
    margin-top: 3%;
    margin-left: 24%;
    margin-bottom: 5%;
}



table, th, td{
    border: 2px solid;
}


.main .manuels {
    flex: 0 0 0%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.main .manuels .titre{
    font-size: x-large;
    font-weight: bold;
    color: #2b2b2b;
    border-bottom: 1px solid #424242;
    margin-bottom: 3%;
}






.main .tendances table .left{
    width: 20%;
    padding : 2%;

}
.main .tendances table .left img{
   width:100%;
   transition: 0.3s;
}

.main .tendances table .right{
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}


.main .tendances table .price{
    width: 10%;
}

.quantite{
    width: 9%;
    display: none;
    text-align: center;
    font-size: 105%;
}

.price {
    flex: 0 0 15%;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 95px;
    margin-bottom: 95px;
    background-color: #bbbbbb;
}
.titre {
    font-size: x-large;
    font-weight: bold;
    color: #2b2b2b;
    border-bottom: 1px solid #424242;
    margin-bottom: 3%;
}


table{
    border-collapse: collapse;
    width: 100%;
    background-color : lightgrey;
}


.tendances h1 {
    font-size: 160%;
    font-weight: bold;
    color: #000000;
    margin-bottom: 3%;
}

.tendances h2{
    font-size: 140%;
    color: #2b2b2b;
}

img:hover{
    transform: scale(1.25);
}

.gerercom {
    display: flex;
    align-items: center;
    margin-top: 10%;
}

button{
    font-size: 115%;
}

.boutonplus {
    margin: 0 auto;
    margin-left: 5%;
}

.boutonmoins {
    margin: 0 auto;
    margin-right: 5%;
}

.commande{
    text-align: center;
}

.valeur {
    margin-top: 10%;
}

h3{
    margin:0;
}

.ajout{
    margin:15%;
}

footer{
    justify-content: center;
    align-items: center;
    border-top: 3px solid #464343;
    height: 15%;
    background: #d1d1d1;
}

.services{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
}

.services .logo{
    display: flex;
    align-items: center;
}


.services .logo h1{
    color: #020202;
    font-family: 'Neonderthaw', sans-serif;
    font-size: 40px;
    margin-right: 200px;
}

.services .info a{
    text-decoration: none;
    color: #464343;
    margin-left: 75px;
    margin-top: 0px;
    border-bottom: 1px solid #424242;
}

.services .info ul{
    text-decoration: none;
    color: #464343;
    margin-top: 23px;
    margin-left: 30px;
    list-style-type: none;
}

.services .info{
    display: flex;
    align-items: center;
}

.services .info p {
    text-decoration: none;
    color: #464343;
    margin-left: 75px;
    margin-top: 15px;
}

.services .info a:hover {
    color: red;
    transition: 0.5s all;
}

.copyright {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    background: #eeeeee;
    border-top: 3px solid #464343;
}

.copyright p{
    padding-right: 1%;
    font-size: 85%;
}